@media (pointer: coarse) and (hover: none) {
  .blackjack-table {
    flex-direction: column-reverse;
    gap: 0px !important;
  }
  .text-section, .cards-section, .player-phase-info, .betting-actions, .hand-bet-container, .hidden-betting-actions, .hidden-player-phase-info {
    width: 100% !important;
    height: auto !important;
  }
  .input-groups {
    flex-direction: column;
  }
  .dealer-card-zone, .player-card-zone {
    width: 100% !important;
    height: auto !important;
  }
  .game-view-title {
    display: none;
  }
  .dealer-card-values, .player-card-values {
    min-height: 30px;
  }
}